body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  background-color: #1e3771;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  margin-bottom: -65px;
  background-image: url("../images/Mask Group 1.jpg");
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

.btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}

.btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stat-detail {
  padding: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #999999;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .travel-location {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .travel-button .btn.btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-popular-content .travel-button .btn.btn-travel-details:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-testimonial-heading {
  background: #fff;
  padding-top: 50px;
  min-height: 50px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display",serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section.section-testimonial-content {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section.section-testimonial-content img {
  margin-top: 30px;
}

.section.section-testimonial-content h3 {
  font-size: 22px;
}

.section.section-testimonial-content .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
}

.section.section-testimonial-content .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section.section-testimonial-content hr {
  margin-left: -2px;
  margin-right: -2px;
}

.section.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.section.section-testimonial-content .btn-need-help:hover {
  background-color: #fafafa;
  color: #c3c3c3;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background-color: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.card-details .trip-informations .text-right {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.card-details .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.card-details .bank .bank-item p {
  margin-bottom: 0;
}

.card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}

.card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}

.card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.card-details .gj.datepicker .datepicker {
  border-right: 0;
}

.card-details .gj.datepicker .input-group-append {
  padding-right: 30px;
}

.card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.card-details .btn-add-now:hover {
  background-color: #1a4c9c;
  color: #fff;
}

.card-details .features {
  margin-top: 20px;
}

.card-details .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0px;
}

.card-details .features p {
  margin-bottom: 0px;
}

.card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.card-details .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.card-details .member-image {
  width: 40px;
  height: 40px;
}

.card-details .gallery .xzoom-container {
  display: block;
}

.card-details .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.card-details .gallery .xzoom-container .xactive {
  border: 4px solid #1a4c9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: #ffb57c;
  color: #fff;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-success {
  height: 9vh;
}

.section-success .text-center h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success .text-center p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .text-center .btn.btn-home-page {
  border-radius: 4px;
  background-color: #071c4d;
  color: #fff;
}

.section-success .text-center .btn.btn-home-page:hover {
  background-color: #071c4d;
  color: floralwhite;
}
/*# sourceMappingURL=main.css.map */